x-app-base: &app-base
  build:
    context: .
    args:
      INSTALL_EXTRAS: "tests"
      DEVENV_PYTHON: "${DEVENV_PYTHON:-3.11}"
  working_dir: /app
  volumes:
    - .:/app
    - pip-cache:/root/.cache/pip
    - edugain-cache:/root/.cache/edugain

services:
  cli:
    <<: *app-base
    command: edugain-analyze

  test:
    <<: *app-base
    command: pytest

volumes:
  pip-cache:
  edugain-cache:
