x-app-base: &app-base
  build:
    context: .
    args:
      INSTALL_EXTRAS: "tests"
      DEVENV_PYTHON: "${DEVENV_PYTHON:-3.11}"
  working_dir: /app
  volumes:
    - .:/app
    - ${HOME}/.cache/pip:/root/.cache/pip
    - ${HOME}/.cache/edugain:/root/.cache/edugain
    - ./reports:/app/reports

services:
  cli:
    <<: *app-base
    command: python analyze.py

  test:
    <<: *app-base
    command: pytest
